body {
  margin: 0;
  padding: 0;
  font: 14px/1.5 "Courier", LiSu, sans-serif;
  background-color: #ccc;
}
::selection {
  color: #ff0;
}
.main {
  position: absolute;
  right: 6em;
  top: 2em;
  width: 65%;
}
.sidebar {
  position: fixed;
  margin: 0 2em 0 0;
  width: 20%;
  text-align: center;
  background-color: #363636;
  color: #aaa;
  height: 100%;
}
.sidebar .footer {
  position: absolute;
  bottom: 2em;
  width: 100%;
}
.sidebar .blog-title {
  width: 200px;
  height: 200px;
  margin: 20px auto;
  line-height: 200px;
  text-align: center;
  background: #ee3b3b;
  border-radius: 50%;
}
.sidebar .logo {
  font: 30px/1.5 "Courier", LiSu, sans-serif;
  text-decoration: none;
}
.sidebar .navbar {
  margin: 20px auto;
  font-size: 1.5em;
}
.sidebar .menu {
  list-style-type: none;
  padding: 0;
}
.sidebar .menu .menu-item {
  margin: 1em;
}
.sidebar .menu .menu-item-link {
  color: #aaa;
  text-decoration: none;
}
.sidebar .menu .menu-item-link:hover {
  color: #ee3b3b;
}
.post {
  padding: 30px 50px;
  font: 14px/1.5 "MarkerFelt", sans-serif;
}
.posts {
  background-color: #fff;
  color: #000;
  border-radius: 15px;
}
.posts .post:first-child {
  margin-top: 0;
}
.posts .post-title {
  font-size: 1.5em;
  text-align: center;
}
.posts .post-title .post-title-link {
  color: #368ccb;
  text-decoration: none;
}
.posts .post-content a {
  color: #368ccb;
  text-decoration: none;
}
.posts .post-meta {
  color: #bababa;
}
