body {
  margin: 0;
  padding: 0;
  background-color: #363636;
  color: #fff;
}
::selection {
  color: #ee2c2c;
}
.main {
  position: absolute;
  right: 6em;
  top: 1em;
  width: 65%;
}
.sidebar {
  position: fixed;
  margin: 0 2em 0 0;
  width: 20%;
  background-color: #696969;
  color: #fff;
  height: 100%;
  font-size: 1.5em;
  font-family: 'Fredericka the Great', 'KaiTi SC', serif;
  text-align: right;
}
.sidebar .blog-title {
  text-align: right;
  margin: 3em 1em 3em auto;
}
.sidebar .blog-title .intro {
  width: 100px;
}
.sidebar .blog-title .logo {
  font-size: 2em;
  text-decoration: none;
  color: #fff;
}
.sidebar .blog-title .logo:hover {
  color: #ee3b3b;
}
.sidebar .navbar {
  text-align: right;
  display: inline-block;
  border-top: 1px solid #e3e3e3;
}
.sidebar .navbar .menu {
  list-style-type: none;
  padding: 0;
}
.sidebar .navbar .menu .menu-item {
  margin: 1em;
}
.sidebar .navbar .menu .menu-item-link {
  color: #fff;
  text-decoration: none;
}
.sidebar .navbar .menu .menu-item-link:hover {
  color: #ee3b3b;
}
.sidebar .footer {
  position: absolute;
  bottom: 1em;
  right: 0;
  text-align: right;
  font-size: 0.6em;
  border-top: 1px solid #e3e3e3;
}
.sidebar .footer .about {
  margin: 1em;
}
.post {
  padding: 30px 50px;
  color: #fff;
}
.post .post-title {
  font-size: 3em;
  text-align: center;
  font-family: 'Baskerville', 'KaiTi SC', serif;
}
.post .post-title .post-title-link {
  color: #cdcdb4;
  text-decoration: none;
}
.post .post-title .post-title-link:hover {
  color: #00ee76;
}
.post .post-content {
  font-family: 'Baskerville', 'KaiTi SC', serif;
  font-size: 1.5em;
  line-height: 1.5em;
}
.post .post-content a {
  color: #ffa500;
  text-decoration: none;
}
.post .post-content a:hover {
  color: #00ee76;
}
.post .post-meta {
  color: #bababa;
}
.archive {
  margin: 2em auto;
  padding: 10px 20px;
  background-color: #696969;
  box-shadow: 0 0 2px;
  border-radius: 5px;
  font-family: 'Baskerville', 'KaiTi SC', serif;
}
.archive .post-archive {
  list-style: none;
  padding: 0;
}
.archive .post-archive .post-item {
  margin: 10px 0;
}
.archive .post-archive .post-item .post-date {
  display: inline-block;
  margin-right: 10px;
  color: #bababa;
}
.archive .post-archive .post-item .post-title {
  color: #fff;
  text-decoration: none;
}
.archive .post-archive .post-item .post-title:hover {
  color: #ee3b3b;
}
