a {
  text-decoration: none;
  color: #fff;
}
li {
  list-style-type: none;
}
@font-face {
  font-family: 'RaphaelIcons';
  src: url("../fonts/raphaelicons-webfont.eot");
  src: local('☺'), url("../fonts/raphaelicons-webfont.woff") format('woff'), url("../fonts/raphaelicons-webfont.ttf") format('truetype'), url("../fonts/raphaelicons-webfont.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
:root {
  font-size: 16px;
  line-height: 1em;
}
body {
  margin: 0;
  padding: 0;
  background-color: #696969;
  color: #fff;
}
::selection {
  color: #ee2c2c;
}
main {
  width: 768px;
  margin: 0 auto;
}
.sidebar {
  position: fixed;
  background: #363636;
  left: 0;
  top: 0;
  width: 60px;
  height: 100%;
}
.sidebar .blog-title {
  display: none;
}
.sidebar .blog-title .intro {
  width: 100px;
}
.sidebar .blog-title .logo {
  font-size: 2em;
  color: #fff;
}
.sidebar .blog-title .logo:hover {
  color: #ee3b3b;
}
.sidebar .menu {
  padding: 0;
}
.sidebar .menu li {
  padding: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 10px;
}
.sidebar .menu li .icon {
  font-weight: normal;
  font-style: normal;
  line-height: inherit;
  font-family: 'RaphaelIcons';
  font-size: 2em;
  position: relative;
  top: 0.1em;
}
.sidebar .menu li .icon:hover {
  color: #ee3b3b;
}
.post {
  padding: 30px 50px;
  color: #fff;
}
.post .post-content {
  line-height: 2em;
}
.post .post-content a {
  color: #ffa500;
}
.post .post-content a:hover {
  color: #00ee76;
}
.post .post-time {
  color: #bababa;
}
